<div class="row article-row">
    <div class="col-sm-12 col-md-3 justify-content-center project-image-div">
        <img class="img-fluid" src={{this.image}} alt="esq img">
    </div>
    <div class="col-sm-12 col-md-6 project-content-div">
        <div>
            <b>{{this.title}}</b>
        </div>

        <div>
            {{this.description}}
        </div>
        <div>
            <a class="article-link" href={{this.link}}>{{this.link}}</a>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 justify-content-center project-button-div">
        <button class="btn btn-light btn-sm notes-btn" data-toggle="modal" data-target="#modal{{this._id}}">
            <i class="fas fa-pencil-alt"></i>
            <span id="scrape-btn-span ">Article Notes</span>
        </button>

        <button class="btn btn-light btn-sm unsave-btn" data-id={{this._id}}>
            <i class="fas fa-undo"></i>
            <span id="scrape-btn-span ">Unsave Article</span>
        </button>
    </div>
</div>