<div class="modal fade" id="modal{{this._id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{this.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="btn-times" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#if this.notes}} {{#each this.notes}}
                <div class="row modal-notes-row justify-content-center">

                    <div class="col-sm-12 col-md-9 note-content-div">
                        <div>
                            <b>{{this.title}}</b>
                        </div>

                        <div>
                            {{this.body}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 delete-button-div">
                        <button class="btn btn-danger btn-sm delete-note-btn" data-note-id={{this._id}} data-article-id={{this.article}}>
                            <i class="far fa-trash-alt"></i>
                            <span id="scrape-btn-span ">Delete Note</span>
                        </button>
                    </div>

                </div>
                <hr> {{/each}}{{/if}}

                <form>
                    <div class="form-group">
                        <label for="note-title">
                            <b>Note Title:</b>
                        </label>
                        <input type="text" class="form-control" id="note-title{{this._id}}" placeholder="e.g. Buy these shoes!">
                    </div>
                    <div class="form-group">
                        <label for="note-body">
                            <b>Note Body:</b>
                        </label>
                        <textarea class="form-control" id="note-body{{this._id}}" rows="3" placeholder="e.g. Stylish, high quality, and the perfect price!"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary add-note-btn" data-dismiss="modal" data-id={{this._id}}>
                        <i class="fas fa-pencil-alt"></i>
                        <span id="scrape-btn-span ">Add Note</span>
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <span id="modal-span">
                    Esquire Scraper
                </span>
            </div>
        </div>
    </div>
</div>